<a href="https://colab.research.google.com/github/Kuziomkin/colab/blob/main/Travel_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import duckdb

In [2]:
%pip install jupysql duckdb-engine --quiet

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.2/95.2 kB 5.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.6/49.6 kB 3.5 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 10.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.0/72.0 kB 5.4 MB/s eta 0:00:00

In [3]:
%load_ext sql
conn = duckdb.connect()
%sql conn --alias duckdb

In [28]:
%%sql

SELECT *
FROM
  'https://raw.githubusercontent.com/Kuziomkin/open_data/refs/heads/main/Tourist_Travel_Europe.csv'

Running query in 'duckdb'

+------------+-----------------+--------------+----------------+----------------------+----------------------+-------------------+--------------------+--------------+-----------------+
| Tourist_ID | Country_Visited | City_Visited | Mode_of_Travel | Travel_Duration_Days | Number_of_Companions | Total_Travel_Cost | Accommodation_Type | Main_Purpose | Season_of_Visit |
+------------+-----------------+--------------+----------------+----------------------+----------------------+-------------------+--------------------+--------------+-----------------+
|     1      |     Germany     |   Hamburg    |     Flight     |          8           |          4           |        1060       |       Hotel        | Family Visit |      Summer     |
|     2      |     Germany     |    Berlin    |      Car       |          16          |          3           |        3972       |       Hostel       | Family Visit |      Winter     |
|     3      |        UK       |  Manchester  |    Bicycle     |          8           |          2           |        666        |      Camping       |   Business   |      Winter     |
|     4      |      Greece     | Thessaloniki |    Bicycle     |          12          |          3           |        3644       |       Hotel        |   Business   |      Summer     |
|     5      |      Greece     | Thessaloniki |     Flight     |          5           |          3           |        1885       |       Airbnb       |   Leisure    |      Spring     |
|     6      |      Greece     |    Athens    |    Bicycle     |          3           |          4           |        2633       |       Hostel       | Family Visit |      Summer     |
|     7      |     Portugal    |    Lisbon    |      Bus       |          2           |          4           |        3585       |       Hostel       |   Leisure    |      Winter     |
|     8      |      Greece     |    Athens    |     Train      |          13          |          1           |        674        |      Camping       |   Leisure    |      Winter     |
|     9      |     Portugal    |     Faro     |      Bus       |          11          |          4           |        2947       |      Camping       |   Leisure    |      Winter     |
|     10     |        UK       |  Manchester  |     Flight     |          17          |          3           |        2099       |       Hostel       |   Business   |      Summer     |
+------------+-----------------+--------------+----------------+----------------------+----------------------+-------------------+--------------------+--------------+-----------------+
Truncated to displaylimit of 10.

In [21]:
%%sql

CREATE OR REPLACE TABLE tourist_travel_europe AS
SELECT *
FROM
  'https://raw.githubusercontent.com/Kuziomkin/open_data/refs/heads/main/Tourist_Travel_Europe.csv'

Running query in 'duckdb'

+-------+
| Count |
+-------+
|  1000 |
+-------+

In [29]:
%%sql

DESCRIBE tourist_travel_europe

Running query in 'duckdb'

+----------------------+-------------+------+------+---------+-------+
|     column_name      | column_type | null | key  | default | extra |
+----------------------+-------------+------+------+---------+-------+
|      Tourist_ID      |    BIGINT   | YES  | None |   None  |  None |
|   Country_Visited    |   VARCHAR   | YES  | None |   None  |  None |
|     City_Visited     |   VARCHAR   | YES  | None |   None  |  None |
|    Mode_of_Travel    |   VARCHAR   | YES  | None |   None  |  None |
| Travel_Duration_Days |    BIGINT   | YES  | None |   None  |  None |
| Number_of_Companions |    BIGINT   | YES  | None |   None  |  None |
|  Total_Travel_Cost   |    BIGINT   | YES  | None |   None  |  None |
|  Accommodation_Type  |   VARCHAR   | YES  | None |   None  |  None |
|     Main_Purpose     |   VARCHAR   | YES  | None |   None  |  None |
|   Season_of_Visit    |   VARCHAR   | YES  | None |   None  |  None |
+----------------------+-------------+------+------+---------+-------+
Truncated to displaylimit of 10.

In [25]:
%%sql

SUMMARIZE tourist_travel_europe

Running query in 'duckdb'

+----------------------+-------------+-----------+---------+---------------+----------+--------------------+------+------+------+-------+-----------------+
|     column_name      | column_type |    min    |   max   | approx_unique |   avg    |        std         | q25  | q50  | q75  | count | null_percentage |
+----------------------+-------------+-----------+---------+---------------+----------+--------------------+------+------+------+-------+-----------------+
|      Tourist_ID      |    BIGINT   |     1     |   1000  |      1232     |  500.5   | 288.8194360957494  | 250  | 500  | 750  |  1000 |       0.00      |
|   Country_Visited    |   VARCHAR   |  Austria  |    UK   |       9       |   None   |        None        | None | None | None |  1000 |       0.00      |
|     City_Visited     |   VARCHAR   | Amsterdam |  Zurich |       28      |   None   |        None        | None | None | None |  1000 |       0.00      |
|    Mode_of_Travel    |   VARCHAR   |  Bicycle  |  Train  |       5       |   None   |        None        | None | None | None |  1000 |       0.00      |
| Travel_Duration_Days |    BIGINT   |     2     |    20   |       20      |  10.82   | 5.489784853501794  |  6   |  11  |  16  |  1000 |       0.00      |
| Number_of_Companions |    BIGINT   |     1     |    5    |       5       |  2.983   | 1.4285488272200397 |  2   |  3   |  4   |  1000 |       0.00      |
|  Total_Travel_Cost   |    BIGINT   |    201    |   4999  |      964      | 2600.376 | 1393.3948147362012 | 1359 | 2596 | 3847 |  1000 |       0.00      |
|  Accommodation_Type  |   VARCHAR   |   Airbnb  |  Hotel  |       3       |   None   |        None        | None | None | None |  1000 |       0.00      |
|     Main_Purpose     |   VARCHAR   |  Business | Leisure |       3       |   None   |        None        | None | None | None |  1000 |       0.00      |
|   Season_of_Visit    |   VARCHAR   |    Fall   |  Winter |       4       |   None   |        None        | None | None | None |  1000 |       0.00      |
+----------------------+-------------+-----------+---------+---------------+----------+--------------------+------+------+------+-------+-----------------+

In [23]:
%%sql

PIVOT tourist_travel_europe
ON
  Main_Purpose
USING count(*)
GROUP BY
  Country_Visited
  , Season_of_Visit
  , Mode_of_Travel
ORDER BY
  Business DESC

Running query in 'duckdb'

+-----------------+-----------------+----------------+----------+--------------+---------+
| Country_Visited | Season_of_Visit | Mode_of_Travel | Business | Family Visit | Leisure |
+-----------------+-----------------+----------------+----------+--------------+---------+
|     Austria     |      Summer     |      Bus       |    6     |      3       |    1    |
|      Greece     |      Summer     |    Bicycle     |    5     |      2       |    3    |
|   Netherlands   |       Fall      |     Flight     |    5     |      2       |    3    |
|   Netherlands   |      Spring     |     Flight     |    5     |      0       |    2    |
|      Italy      |      Winter     |     Flight     |    5     |      5       |    4    |
|      Spain      |      Winter     |      Bus       |    5     |      3       |    1    |
|     Portugal    |      Summer     |     Flight     |    5     |      1       |    0    |
|     Portugal    |       Fall      |      Bus       |    5     |      1       |    2    |
|      Greece     |      Spring     |      Car       |    4     |      2       |    2    |
|      Greece     |       Fall      |    Bicycle     |    4     |      4       |    1    |
+-----------------+-----------------+----------------+----------+--------------+---------+
Truncated to displaylimit of 10.